#header {
    width: 800px;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}


.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    align-items: stretch;
    flex-wrap: wrap;
}

.left-text {
    display: flex;
    flex: 50%;
}

.right-text {
    display: flex;
    flex: 50%;
}

